In [2]:
apes = ["Homo", "Pan", "Gorilla"]
print(apes[0] + " is an ape")
print(apes[1] + " is an ape")
print(apes[2] + " is an ape")

Homo is an ape
Pan is an ape
Gorilla is an ape

In [3]:
for variable in apes:
    print(variable + " is an ape")

Homo is an ape
Pan is an ape
Gorilla is an ape

In [5]:
for number in range(3, 8):
    print(number)

3
4
5
6
7

In [6]:
for number in range(2, 14, 4):
    print(number)

2
6
10

In [11]:
count = 0
while count<10:
    print(count)
    count = count + 1

0
1
2
3
4
5
6
7
8
9

In [24]:
expression_level = 125
if expression_level > 100:
    print("gene is highly expressed")
else:
    print("gene is lowly expressed")

gene is highly expressed

In [22]:
x = 4
if x % 2 == 0:
    print("divisible by 2")
else:
    print("not divisible by 2")

divisible by 2

In [25]:
x = 17
if x % 2 == 0:
    print("divisible by 2")
elif x % 3 == 0:
    print("divisible by 3")
elif x % 5 == 0:
    print("divisible by 5")
elif x % 7 == 0:
    print("divisible by 7")
else:
    print("not divisible by 2, 3, 5, 7")

not divisible by 2, 3, 5, 7

In [26]:
file1 = open("one.txt", "w")
file2 = open("two.txt", "w")
accs = ['ab56', 'bh84', 'hv76', 'ap7', 'bd72']
for accession in accs:
    if accession.startswith('a'):
        file1.write(accession + "\n")
    else:
        file2.write(accession + "\n")

# challenge step 1
wget to download the first data set

```
cd Download
wget http://www.nature.com/nature/jornal/vaop/ncurrent/source_data/nature21074-f1.csv

```

## there is a problem with the end of line characters. I saved the original files as new files with corrected lines using tr

```
tr "\r" "\n" < nature21074-f1.csv > formatted.nature.csv
wc -l formatted.nature.csv

should give you 2030 lines - header = 2028 lines

```
## Seeing how many unique families in the formatted file

```
tail -n+4 formatted.nature.csv | cut -d ',' -f 3 formatted.nature.csv | sort | uniq | wc -l
gives you 196 

name of partner: Dominique Castro